<div >
    <!-- <div>{{UC.user.data}}</div> -->
    <!-- Next steps: include starred repos and organization affiliations -->

    <img ng-src="{{UC.user.data.avatar_url}}">
    <div>
        <p>Welcome to my portfolio and collection of repositories! My name is {{UC.user.data.name}} and I am a software engineer
            in {{UC.user.data.location}}. I moved out of arts management/non-profit work in July 2017 and moved into the tech industry. I graduated with a certificate from Prime Digital Academy's Full Stack Software Engineering program in December 2017.
            I began my work on GitHub on {{UC.user.data.created_at | date : longDate}} and poked around until I began at
            Prime. Since then, I have created {{UC.user.data.total_private_repos}} private repositories and {{UC.user.data.public_repos}}
            public repositories.</p>
        <p>Since pivoting into tech, I have found a niche in Digital Accessibility. I have worked multipled roles in manual testing and design consultancy to experience many aspects of accessibility maturity and "shifting left". I've enjoyed this area of technology as it allows positive impact for all users in making the internet and applications a safer place to navigate. 
        </p>
        <p>Keep up with my work here and contact me at your convenience via email at <a id=newLink href="mailto:marshcooke1@gmail.com"
                target="_blank">marshcooke1@gmail.com</a>. Check back intermittently for more updates!</p>
    </div>
</div>
<!-- <div ng-include="'views/partials/footer.html'"></div> -->
