<div >
    <!-- <div>{{UC.user.data}}</div> -->
    <!-- Next steps: include starred repos and organization affiliations -->

    <img ng-src="{{UC.user.data.avatar_url}}">
    <div>
        <p>Welcome to my portfolio and collection of repositories! My name is {{UC.user.data.name}} and I am a software engineer
            in {{UC.user.data.location}} currently seeking employment.</p>
        <p>I graduated December 1, 2017 with a certificate from Prime Digital Academy's Full Stack Software Engineering program.
            I began my work on GitHub on {{UC.user.data.created_at | date : longDate}} and poked around until I began at
            Prime. Since then, I have created {{UC.user.data.total_private_repos}} private repositories and {{UC.user.data.public_repos}}
            public repositories.</p>
        <p>Keep up with my work here and contact me at your convenience via email at <a id=newLink href="mailto:marshcooke1@gmail.com"
                target="_blank">marshcooke1@gmail.com</a>. Check back intermittently for more updates!</p>
    </div>
</div>
<!-- <div ng-include="'views/partials/footer.html'"></div> -->