<div>
    <!-- <div>{{RC.repos.data}}</div> -->
    <table>
        <thead>
            <tr>
                <th>Date Created</th>
                <th>Project</th>
                <th>Recent Push</th>
                <th>View</th>
            </tr>
        </thead>
        <tr ng-repeat="repo in RC.repos.data">
            <td>{{repo.created_at | date: longDate}}</td>
            <td>{{repo.name}}</td>
            <td>{{repo.pushed_at | date: longDate}}</td>
            <td><a ng-href="{{repo.html_url}}" target="_blank">Follow the Link</a></td>
        </tr>
    </table>
</div>