<div>
    <div>{{RC.repos.data}}</div>
    FUTURE NOTE TO SELF: IF THIS DATA DOESN'T ALLOW YOU TO FEATURE YOUR PINNED REPOS, HARD CODE A GALLERY.
    <!-- <table>
        <thead>
            <tr>
                <th>Date Created</th>
                <th>Project</th>
                <th>Recent Push</th>
                <th>View</th>
            </tr>
        </thead>
        <tr ng-repeat="repo in RC.repos.data">
            <td>{{repo.created_at | date: longDate}}</td>
            <td>{{repo.name}}</td>
            <td>{{repo.pushed_at | date: longDate}}</td>
            <td><a ng-href="{{repo.html_url}}" target="_blank">Follow the Link</a></td>
        </tr>
    </table> -->
</div>
<!-- <div ng-include="'views/partials/footer.html'"></div> -->