<div>
    <div>{{uc.user.data}}</div>

    <img ng-src="{{uc.user.data.avatar_url}}">
    <p>Welcome to my collection of repositories! My name is {{uc.user.data.name}}.</p>
    <p>I am currently enrolled at Prime Digital Academy in the Full Stack Web Development program.</p>
    <p>I began my work on github on {{{uc.user.data.created_at}}, since our program began, I have made {{uc.user.data.total_private_repos}} private repoitories and {{uc.user.data.public_repos}} public repositories.</p>
    <p>Keep up with my work here and contact me at your convenience at <a href="mailto:marshcooke1@gmail.com" target="_blank">{{uc.user.data.email}}</a></p>
</div>