<div class="footer">
        <div id="footer-style" class="container">
            <footer>
                    <li><a href="http://github.com/marshcooke" target="_blank"><i class="fa fa-code-fork fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/sarahmcooke/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/marshcooke" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/marshcooke/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                </footer>
    </div>
</div>